:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}
* {
    box-sizing: border-box;
}
body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
header {
    background-image: url("https://picsum.photos/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
}
a {
    color: var(--link-color);
}
.top-nav {
    background: var(--light-bg);
    z-index:800 ;
    width: 100%
}

.nav-item{
    padding:1.5em;
    display: inline-block;

}
.nav {
    list-style-type: none;
    padding:1.5em;
    margin: 0;

}
.nav-link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--link-color);
}
.profile {
    background: var(--light-bg);
    height: 80px;

}
.profile-image{
    position:absolute;
    top:240px;
}
.profile-form{
float:right;
    position:center;
    line-height:75px ;
}

.profile-details{
float:left;
   
    margin-top:0px;
    margin-bottom:0px;
    margin-right: .5em;
    margin-left: .5em;;
}

.timeline{
    float:left;
    width:50%;
    margin-top:0px;
    margin-bottom:0px;
    margin-right: .5em;
    margin-left: .5em;


}
.who-to-follow{
    float: right;
    width:25%;
    margin-top:0px;
    margin-bottom:0px;
    margin-right: .5em;
    margin-left: .5em;
}

.container {
    margin: 2em;
    width: calc(100% - 1em);
}

.media{
    width:100%;
    background: var(--light-bg);
    border: 1px solid var(--separator-color);
    padding:.5em;
    overflow: auto;
}

.media-image{
    width:50px;
    float:left;
    margin-top:.75em ;
    
}

.media-body{
    float:left;
    width: calc(100% - 50px);
}

.btn {
   border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}

.profile-item{
    padding:5px;

}
 ul{
     .
     list-style-type: none;
     .
}
.profile-entry{
    margin:.5em;
}

.btn-large {
    font-size: 1.3em;
    padding: 10px;
}
.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}
.text-right {
    text-align: right;
}
.text-muted {
    color: var(--main-link-color);
}